torch==2.7.1
torchvision==0.22.1

transformers==4.54.0
tokenizers==0.21.2
accelerate==1.9.0
peft==0.14.0
safetensors==0.5.3
huggingface-hub==0.34.1
datasets==3.3.2
trl @ git+https://github.com/huggingface/trl.git@7442d42c21697fd6c0998a75e7478ed4b40490be

qwen-vl-utils==0.0.10
einops==0.8.1
sentencepiece==0.2.0
pillow==11.1.0
regex==2024.11.6
tqdm==4.67.1
pandas==2.2.3
pyarrow==19.0.1
xxhash==3.5.0
fsspec==2024.12.0
multiprocess==0.70.16
dill==0.3.8
scikit-learn==1.7.1
wandb==0.19.7

bitsandbytes==0.45.3
